/*��ʼ������*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #999;
}

/*a:hover {*/
/*color: #f10215;*/
/*}*/

input {
  border: 0 none;
  outline: 0 none;
}

img {
  vertical-align: middle;
  border: 0 none;
  /*�ڵͰ汾�������,img�Դ��߿�*/
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

h1 {
  font-size: 0px;
}

body {
  font: 12px/100% "΢���ź�";
  background-color: #f6f6f6;
}

.w {
  width: 1258px;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.top {
  position: relative;
  z-index: 10;
  width: 1366px;
  height: 48px;
  /*background-color: rgb(113, 110, 103);*/
  opacity: .9;
  border-bottom: 1px solid #e3e3e3;
}

.logo a img {
  width: 115px;
}

.logo a {
  margin-left: 40px;
  margin-top: 5px;
  display: inline-block;
  font-size: 0px;

}

.logo {
  float: left;
}

.topnav {
  position: absolute;
  left: 233px;
  width: 800px;
}

.topnav a {
  color: white;
}

.topnav .topnav_a {
  color: black;
}

.topnav .current {
  background: url("../images/arrow1.png") no-repeat center bottom/18px;
}

.topnav > ul > li {
  font-size: 14px;
  float: left;
  width: 88px;
  height: 48px;
  text-align: center;
  line-height: 48px;

}

.tools {
  margin-top: 15px;
  float: right;
}

.tools li {
  float: left;
  width: 36px;
  height: 48px;
  font-size: 18px;
  position: relative;
}

.tools .login:hover img {
  position: relative;
  top: -18px;
}

.tools .scbtn:hover img {
  position: relative;
  top: -20px;
}

.tools li a {
  overflow: hidden;
  line-height: 15px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 15px;
  width: 17px;
}

.tools li a img {
  width: 15px;
}

.tools li a span {
  position: absolute;
  top: 6px;
  left: 27px;
  width: 0;
  height: 100%;
  display: inline-block;
  border-top: 5px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.tools .line {
  width: 1px;
  height: 15px;
  background-color: #dddddd;
  margin: 0 15px 0 22px;
  float: left;
}

.tools .login #login-box,
.tools .lang #lang-box {
  top: 38px;
  position: absolute;
  width: 80px;
  height: 70px;
  background: url("../images/login-box.png") no-repeat;
  font-size: 14px;
  display: none;

}

.tools .login #login-box {
  left: -19px;
}

.tools .lang #lang-box {
  left: -17px;

}

.tools .login #login-box a,
.tools .lang #lang-box a {
  display: block;
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: white;
  color: black;
  border: 1px solid #707070;

}

#search {
  width: 280px;
  height: 40px;
  background: url('../images/search.png') no-repeat;
  position: absolute;
  left: -239px;
  top: 44px;
  display: none;
  overflow: hidden;
}

#search input {
  font-size: 20px;
  width: 230px;
  height: 40px;
  padding-left: 9px;
  background-color: transparent;
  float: left;
}

#search a {
  float: left;
  width: 41px;
  height: 40px;
}

.menutool {
  width: 34px;
  height: 34px;
  float: right;
  margin: 7px 65px 0 35px;
  overflow: hidden;
  cursor: pointer;
}

.menutool img {
  width: 34px;
}

.menutool img:hover {
  position: relative;
  top: -34px;
}

.topnav ul li, .topnav ul img {
  float: left;
}

.topnav ul img {
  margin: 17px 25px 0;
}

.topnav ul div {
  font-size: 14px;
  position: fixed;
  left: 0;
  top: 48px;
  width: 1366px;
  height: 50px;
  background-color: rgb(98, 75, 50);
  display: none;
  opacity: .9;
}

.topnav a:hover {
  color: #cbb393;
}

#navigation ul {
  margin-left: 125px;
}

#exhibition ul {
  margin-left: 300px;
}

#education ul {
  margin-left: 305px;
}

#explore ul {
  margin-left: 305px;
}

#science ul {
  margin-left: 502px;
}

#CulturalCreation ul {
  margin-left: 626px;
}

#about ul {
  margin-left: 764px;
}

#datu {
  width: 1366px;
  height: 636px;
  overflow: hidden;
}

#datu > ul > li {
  width: 1366px;
  height: 636px;
  display: none;
}

#datu > ul > .current {
  width: 1366px;
  height: 636px;
  display: inline-block;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

#datu > ul > li > a {
  width: 1366px;
  height: 636px;
}

#datu > ul > li > a > img {
  width: 1366px;
  height: 636px;
}

/*.ftop {*/
/*height: 48px;*/

/*}*/

/*.fnav {*/
/*width: 1258px;*/
/*height: 48px;*/
/*/!*background-color: pink;*!/*/
/*position: relative;*/
/*border-bottom: 1px solid #e3e3e3;*/
/*}*/

/*.ftop .flogo {*/
/*width: 115px;*/
/*/!*background-color: red;*!/*/
/*position: absolute;*/
/*left: 0px;*/

/*}*/

/*.ftop .flogo img {*/
/*width: 115px;*/
/*margin-top: 7px;*/

/*}*/

/*.fnav .nav_main {*/
/*line-height: 48px;*/
/*position: absolute;*/
/*left: 337px;*/
/*}*/

/*.fnav .nav_main li {*/

/*font-size: 14px;*/
/*margin-right: 53px;*/
/*float: left;*/
/*color: #474747;*/
/*position: relative;*/

/*}*/

/*.fnav .nav_main a:hover {*/
/*color: #cbb393;*/
/*}*/

/*.fnav .nav_main img {*/
/*width: 18px;*/
/*height: 10px;*/
/*position: absolute;*/
/*left: 0px;*/
/*bottom: 0px;*/

/*}*/

/*.fnav .tools {*/
/*width: 258px;*/
/*height: 34px;*/
/*position: absolute;*/
/*right: 0px;*/
/*top: 7px;*/
/*}*/

/*.fnav .tools li{*/
/*display: block;*/
/*float: left;*/
/*width: 60px;*/
/*height: 18px;*/
/*background-color: red;*/
/*}*/
/*.fnav .tools li a{*/
/*display: block;*/
/*width: 18px;*/
/*height: 20px;*/
/*}*/
/*.a1{*/
/*background: url("../images/ico_tools_search.png") no-repeat;*/
/*background-size: contain;*/
/*}*/

.main {
  height: 1340px;
}

.body {
  width: 1258px;
  position: relative;

}

.body .wrap {
  height: 70px;
}

.body .wrap a {
  position: absolute;
  left: 0px;
  height: 70px;
  font-size: 14px;
  color: #707070;
  top: 18px;
}

.body .focus {
  /*�����:�м�©�˿ո�,����focus�ĸ߶�û����*/
  width: 1258px;
  height: 521px;
  position: absolute;

}

.body .focus .frame {
  width: 1258px;
  height: 472px;
  overflow: hidden;
  position: relative;

}

.body .focus .frame ul {
  width: 6290px;
  height: 472px;
  position: absolute;

}

.body .focus .frame li {
  /*width: 100%;*/
  height: 100%;
  float: left;
}

.focus .focus_nav {
  width: 200px;
  height: 25px;
  /*position: absolute;*/
  margin: 13px auto;
  /*color: #bdbdbd;*/
}

.focus .focus_nav li {
  width: 28px;
  height: 25px;
  float: left;
  margin-right: 20px;
  background-image: url("../images/dian2.png");
}

.focus .focus_nav li:last-child {
  margin-right: 0px;
}

.focus .focus_nav a {
  display: block;
  /*a��ǩ�ǲ��ǿ�,�޷����ÿ��,Ҫ��Ϊ�鼶Ԫ��*/
  width: 28px;
  height: 25px;
}

.current {
  background-position: -28px 0px;
}

/*-------------------�м��־���ֿ�ʼ*/
.title2 {
  width: 1258px;
  height: 57px;
  position: absolute;
  top: 641px;
}

.title2 i {
  display: block;
  width: 40px;
  height: 59px;
}

.title2_left {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: left;
  margin-top: 28px;
}

.title2 .tag1 {
  background: url("../images/public-icon3.png") no-repeat;
  background-size: contain;
  float: left;
}

.title2_center {

  float: left;
  width: 263px;
  height: 57px;
  background: url("../images/jinqizhanlan.png") no-repeat center;
  background-size: contain;
}

.title2 .tag2 {
  background: url("../images/public-icon4.png") no-repeat;
  background-size: contain;
  float: left;
}

.title2_right {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: right;
  margin-top: 28px;
}

/**/

.table {
  height: 525px;
  position: absolute;
  top: 736px;
  border-collapse: collapse;
  /*������Ӵ��ı߿�ȥ��*/

}

.table .thead {
  background-color: #f3f3f3;
}

.table th {
  text-align: left;
  font-size: 16px;
}

.table .zhanlanname {
  font-size: 16px;
}

.table i {
  float: left;

}

.table .zhanlanname a {

  color: black;
}

.table .zhanlanname a:hover {
  color: #761e1d;
}

.table span {
  color: white;
  font-size: 12px;
  background-color: #9d7949;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 15px;

}

.table tr {
  border-bottom: 1px solid #e5e5e5;
}

.table .zhanlanname i {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #cba572;
  margin-right: 6px;

}

.table_index {
  width: 225px;
  height: 25px;
  position: absolute;
  top: 1301px;
  left: 524px;
}

.table_index a {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: #c9c9c9;
  border-radius: 23px;
  font-weight: bold;
  margin-right: 30px;
  font-size: 14px;
  color: #707070;
  text-align: center;
  line-height: 23px;

}

/*ר��*/
.zhuanguan {
  height: 975px;
  position: relative;
  margin-top: 68px;
  overflow: hidden;

}

/*-------------------�м��־���ֿ�ʼ*/
.title3 {
  width: 1258px;
  height: 57px;
  margin-top: 80px;
}

.title3 i {
  display: block;
  width: 40px;
  height: 59px;
}

.title3_left {

  width: 522px;
  border: 1px dotted #d4d4d4;
  float: left;
  margin-top: 28px;
}

.title3 .title3_tag1 {
  background: url("../images/public-icon3.png") no-repeat;
  background-size: contain;
  float: left;
}

.title3_center {

  float: left;
  width: 130px;
  height: 57px;
  background: url("../images/s5aab95fc1cfe5.png") no-repeat center;
  background-size: contain;
}

.title3 .title3_tag2 {
  background: url("../images/public-icon4.png") no-repeat;
  background-size: contain;
  float: left;
}

.title3_right {

  width: 522px;
  border: 1px dotted #d4d4d4;
  float: left;
  margin-top: 28px;
}

/*�м��־���ֿ�ʼ����*/
/*ר��ͼƬ*/
.zhuanguan_pic {
  height: 703px;
  width: 1258px;
  margin-top: 20px;

}

.zhuanguan_pic li {
  width: 243px;
  height: 345px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.zhuanguan_pic li:nth-child(5),
.zhuanguan_pic li:last-child {
  margin-right: 0px;
}

.zhuanguan_pic .zhuanguan_pic_tag {
  margin-bottom: 13px;
}

.zhuanguan_pic li img {
  width: 243px;
}

.zhuanguan_pic img {
  transition: all 0.6s;
}

.zhuanguan_pic img:hover {
  transform: scale(1.1);
}

.zhuanguan .maps {
  font-size: 14px;
  width: 164px;
  height: 35px;
  margin: 10px auto 0px;
  background-image: url("../images/ac-png14.png");
}

.zhuanguan .maps a {
  color: black;
  width: 164px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 35px;
}

/*���в���*/
.chenlie {
  height: 1090px;
  width: 1258px;
}

/*-------------------�м��־���ֿ�ʼ,����Ĳο����*/
.title4 {
  width: 1258px;
  height: 57px;
  margin-bottom: 30px;
}

.title4 i {
  display: block;
  width: 40px;
  height: 59px;

}

.title4_left {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: left;
  margin-top: 28px;
}

.title4 .title4_tag1 {
  background: url("../images/public-icon3.png") no-repeat;
  background-size: contain;
  float: left;
}

.title4_center {

  float: left;
  width: 263px;
  height: 57px;
  background: url("../images/s5864b0542d595.png") no-repeat center;
  background-size: contain;
}

.title4 .title4_tag2 {
  background: url("../images/public-icon4.png") no-repeat;
  background-size: contain;
  float: left;
}

.title4_right {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: right;
  margin-top: 28px;
}

.chenlie .chenlie_pic {
  height: 917px;
}

.chenlie .chenlie_pic .big_pic {
  display: block;
  width: 624px;
  height: 454px;
  float: left;
  overflow: hidden;
}

.chenlie_pic .big_pic img {
  transition: all 0.6s;
}

.chenlie_pic .big_pic img:hover {
  transform: scale(1.2);
}

.chenlie .chenlie_text {
  float: right;
  width: 624px;
  height: 219px;
  background-color: #2a3c50;
  font: 14px/150% "΢���ź�";
  padding: 43px;
  box-sizing: border-box;
  color: white;

  margin-bottom: 10px;
}

.chenlie li {
  width: 305px;
  height: 222px;
  display: block;
  float: left;
  margin: 6px;
  position: relative;
}

.chenlie li img {
  width: 305px;
  height: 222px;
}

.chenlie li:first-child {
  margin-left: 10px;
  margin-top: 0px;
}

.chenlie li:nth-child(2) {
  margin-right: 0px;
  margin-top: 0px;

}

.chenlie li:nth-child(6),
.chenlie li:nth-child(10) {
  margin-right: 0px;
}

.chenlie li:nth-child(3),
.chenlie li:nth-child(7) {
  margin-left: 0px;
}

.chenlie h2 {
  position: absolute;
  width: 100%;
  height: 60px;
  /*background-color: black;*/
  opacity: 1;
  bottom: 0px;
  left: 0px;
  font-size: 18px;
  line-height: 60px;

}

.fuwai {
  width: 1258px;
  height: 659px;

}

.title5 {
  width: 1258px;
  height: 57px;
  margin-bottom: 30px;
}

.title5 i {
  display: block;
  width: 40px;
  height: 59px;
}

.title5_left {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: left;
  margin-top: 28px;
}

.title5 .title5_tag1 {
  background: url("../images/public-icon3.png") no-repeat;
  background-size: contain;
  float: left;
}

.title5_center {

  float: left;
  width: 263px;
  height: 57px;
  background: url("../images/s5864b06921de3%20(1).png") no-repeat center;
  background-size: contain;
}

.title5 .title5_tag2 {
  background: url("../images/public-icon4.png") no-repeat;
  background-size: contain;
  float: left;
}

.title5_right {

  width: 454px;
  border: 1px dotted #d4d4d4;
  float: right;
  margin-top: 28px;
}

.fuwai .fuwaiLeft {
  width: 629px;
  height: 495px;
  float: left;
  overflow: hidden;
}

.fuwai .fuwaiRight {
  width: 629px;
  height: 495px;
  background: url("../images/bg10.jpg") no-repeat -352px -390px;
  float: left;
  overflow: hidden;
}

.fuwaiRight .list {
  height: 285px;
  width: 570px;
  margin: 23px auto 0px;

}

.list1,
.list2,
.list3 {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #122232;
  margin-top: 22px;

}

.list1 .list_tag1,
.list2 .list_tag1,
.list3 .list_tag1 {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: white;
  background: url("../images/temporary6-icon1.png");

  /*�������˱���ͼƬû��ʾ*/
  margin-left: 12px;
}

.list1 a,
.list2 a,
.list3 a {
  font-size: 18px;
  color: white;

}


.list1 .list_tag2,
.list2 .list_tag2,
.list3 .list_tag2 {
  font-size: 14px;
  /*width: 40px;*/
  /*height: 16px;*/
  display: inline-block;
  background-color: #6b2420;
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px 5px;
}

.list1 p,
.list2 p,
.list3 p {

  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.list1 p .span1,
.list2 p .span1,
.list3 p .span1 {
  display: inline-block;
  float: left;
  margin-left: 28px;
}

.list1 p .span2,
.list2 p .span2,
.list3 p .span2 {
  display: inline-block;
  float: right;
}

.list2 .list_tag2,
.list3 .list_tag2 {
  background-color: #28251f;
}

/**/

/*��¡����*/

.qinglong {
  height: 583px;
  width: 1258px;
}

.title6 {
  width: 165px;
  height: 48px;
  margin: 0px auto 16px;

}

.title6 i {
  display: block;
  width: 25px;
  height: 30px;
}

.title6 .title6_tag1 {
  background: url("../images/public-icon3.png") no-repeat;
  background-size: contain;
  float: left;

}

.title6_center {

  float: left;
  width: 112px;
  height: 48px;
  font-size: 28px;
  margin-top: 5px;

}

.title6_center a {
  color: black;
}

.title6 .title6_tag2 {
  background: url("../images/public-icon4.png") no-repeat;
  background-size: contain;
  float: right;

}

.qinglong h2 {
  font-size: 16px;
  color: #474747;
  line-height: 1.2;
  text-align: center;
  margin-top: -11px;

}

.qinglong h2 a {
  color: #474747;
}

.qinglong .qinglong_pic {
  width: 1258px;
  height: 488px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.qinglong_pic img {
  animation: zoom1 10s infinite;
}

@-webkit-keyframes zoom1 {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes zoom1 {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes zoom1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fuwaiLeft img {
  transition: all 3s;
}

.fuwaiLeft img:hover {
  transform: scale(1.2);
}

.footer {

  height: 196px;
  background-color: #272727;
  position: relative;
  margin: 80px auto 0px;
  font-size: 14px;
  /*overflow: hidden;*/
}

.footer .footer_wrap {
  height: 140px;
  /*margin: 30px auto 0;*/
  padding-top: 30px;
  position: relative;

}

.footer_wrap .num {
  text-align: center;
  color: white;

}

.num .inner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.num i {
  display: inline-block;
  width: 20px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background-color: #404040;
  margin: 0 3px;
}

.footer .nav_foot {

  margin-top: 20px;
  text-align: center;

}

.footer .nav_foot a {
  color: white;
  position: relative;
}

.footer .nav_foot_tag1 {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
  right: -90px;
  top: 14px;
}


/**/


.nav_foot_tag3 {
  width: 282px;
  height: 448px;
  position: absolute;
  background: url("../images/s5951d5fde520f.jpg");
  /*bottom: -4464px;*/
  bottom: 20px;
  right: -213px;
  display: none;
  z-index: 4;


}

.footer .copyright {
  color: white;
  margin-top: 14px;
  text-align: center;
  text-transform: uppercase;
}

.copyright a {
  color: white;

}

.footer .btns {
  height: 28px;
  width: 78px;
  line-height: 26px;
  border: 1px solid #ddd;
  padding: 0px 10px;
  color: #fff;
  text-align: center;
  margin: 20px auto 0px;

}
