<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwu.museum.backstage.dao.BackupMapper">
  <resultMap id="BaseResultMap" type="edu.nwu.museum.backstage.domain.Backup">
    <id column="seq_no" jdbcType="INTEGER" property="seqNo"/>
    <result column="backup_time" jdbcType="TIMESTAMP" property="backupTime"/>
    <result column="backup_url" jdbcType="VARCHAR" property="backupUrl"/>
    <result column="backup_version" jdbcType="VARCHAR" property="backupVersion"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
  </resultMap>

  <select id="findAll" resultType="edu.nwu.museum.backstage.domain.Backup">
    SELECT seq_no seqNo,
      backup_time backupTime,
      backup_url backupUrl,
      backup_version backupVersion,
      user_name userName
    FROM db_backups
  </select>

  <select id="findById" parameterType="java.lang.Integer" resultType="edu.nwu.museum.backstage.domain.Backup">
    SELECT seq_no seqNo,
      backup_time backupTime,
      backup_url backupUrl,
      backup_version backupVersion,
      user_name userName
    FROM db_backups
    WHERE seq_no = #{ seqNo }
  </select>

  <insert id="insert" parameterType="edu.nwu.museum.backstage.domain.Backup">
    INSERT INTO db_backups (
      seq_no,
      backup_time,
      backup_url,
      backup_version,
      user_name
    ) VALUES (
      #{ seqNo },
      #{ backupTime },
      #{ backupUrl },
      #{ backupVersion },
      #{ userName }
    )
  </insert>

  <update id="update" parameterType="edu.nwu.museum.backstage.domain.Backup">
    UPDATE db_backups
    SET seq_no = #{ seqNo },
      backup_time = #{ backupTime },
      backup_url = #{ backupUrl },
      backup_version = #{ backupVersion },
      user_name = #{ userName }
    WHERE seq_no = #{ seqNo }
  </update>

  <delete id="deleteById" parameterType="java.lang.Integer">
    DELETE FROM db_backups WHERE seq_no = #{ seqNo }
  </delete>
</mapper>