<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwu.museum.backstage.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="edu.nwu.museum.backstage.domain.Dictionary">
    <id column="dict_item_code" jdbcType="INTEGER" property="dictItemCode"/>
    <id column="dict_code" jdbcType="VARCHAR" property="dictCode"/>
    <result column="dict_item_name" jdbcType="VARCHAR" property="dictItemName"/>
    <result column="dict_name" jdbcType="VARCHAR" property="dictName"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <select id="findAll" resultType="edu.nwu.museum.backstage.domain.Dictionary">
    SELECT dict_item_code dictItemCode,
      dict_code dictCode,
      dict_item_name dictItemName,
      dict_name dictName,
      remark remark
    FROM dictionary
  </select>

  <select id="findById" resultType="edu.nwu.museum.backstage.domain.Dictionary">
    SELECT dict_item_code dictItemCode,
      dict_code dictCode,
      dict_item_name dictItemName,
      dict_name dictName,
      remark remark
    FROM dictionary
    WHERE dict_item_code = #{ dictItemCode }
    AND dict_code = #{ dictCode }
  </select>

  <insert id="insert" parameterType="edu.nwu.museum.backstage.domain.Dictionary">
    INSERT INTO dictionary (
      dict_item_code,
      dict_code,
      dict_item_name,
      dict_name,
      remark
    ) VALUES (
      #{ dictItemCode },
      #{ dictCode },
      #{ dictItemName },
      #{ dictName },
      #{ remark }
    )
  </insert>

  <update id="update" parameterType="edu.nwu.museum.backstage.domain.Dictionary">
    UPDATE dictionary
    SET dict_item_code = #{ dictItemCode },
      dict_code = #{ dictCode },
      dict_item_name = #{ dictItemName },
      dict_name = #{ dictName },
      remark = #{ remark }
    WHERE dict_item_code = #{ dictItemCode }
    AND dict_code = #{ dictCode }
  </update>

  <delete id="deleteById">
    DELETE FROM dictionary WHERE dict_item_code = #{ dictItemCode } AND dict_code = #{ dictCode }
  </delete>
</mapper>