<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwu.museum.backstage.dao.ExpertMapper">
  <resultMap type="edu.nwu.museum.backstage.domain.Expert" id="ExpertMap">
    <id column="expert_id" property="expertId" jdbcType="VARCHAR"/>
    <id column="expert_name" property="expertName" jdbcType="VARCHAR"/>
    <id column="expert_icon" property="expertAvatar" jdbcType="VARCHAR"/>
    <id column="expert_text" property="expertIntroduction" jdbcType="BLOB"/>
    <id column="museum_id" property="museumId" jdbcType="VARCHAR"/>
  </resultMap>

  <!--查询所有专家信息-->
  <select id="findAll" resultType="edu.nwu.museum.backstage.domain.Expert">
    select expert_id expertId,
      expert_name expertName,
      expert_icon expertAvatar,
      expert_text expertIntroduction,
      museum_id museumId
    from expert
  </select>

  <!--根据ID查询专家信息-->
  <select id="findByExpertId" parameterType="java.lang.String" resultType="edu.nwu.museum.backstage.domain.Expert">
    select expert_id expertId,
      expert_name expertName,
      expert_icon expertAvatar,
      expert_text expertIntroduction,
      museum_id museumId
    from expert
    where expert_id = #{ expertId }
  </select>

  <!--添加专家-->
  <insert id="insert" parameterType="edu.nwu.museum.backstage.domain.Expert">
    insert into expert (
      expert_id,
      expert_name,
      expert_icon,
      expert_text,
      museum_id
    )
    values (
      #{ expertId },
      #{ expertName },
      #{ expertAvatar },
      #{ expertIntroduction },
      #{ museumId }
    )
  </insert>

  <!--修改专家信息-->
  <update id="update" parameterType="edu.nwu.museum.backstage.domain.Expert">
    update expert
    set expert_id = #{ expertId },
      expert_name = #{ expertName },
      expert_icon = #{ expertAvatar },
      expert_text = #{ expertIntroduction },
      museum_id = #{ museumId }
    where expert_id = #{ expertId }
  </update>

  <!--根据ID删除专家-->
  <delete id="deleteByExpertId" parameterType="java.lang.String">
    delete from expert where expert_id = #{ expertId }
  </delete>

</mapper>