<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwu.museum.backstage.dao.FavouriteMapper">
  <resultMap id="BaseResultMap" type="edu.nwu.museum.backstage.domain.Favourite">
    <id column="seq_no" jdbcType="INTEGER" property="seqNo"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="antique_id" jdbcType="VARCHAR" property="antiqueId"/>
    <result column="museum_id" jdbcType="VARCHAR" property="museumId"/>
    <result column="topic_id" jdbcType="VARCHAR" property="topicId"/>
  </resultMap>

  <select id="findAll" resultType="edu.nwu.museum.backstage.domain.Favourite">
    SELECT
      seq_no seqNo,
      user_id userId,
      antique_id antiqueId,
      museum_id museumId,
      topic_id topicId
    FROM favourite
  </select>

  <select id="find" parameterType="java.lang.Integer" resultType="edu.nwu.museum.backstage.domain.Favourite">
     SELECT
      seq_no seqNo,
      user_id userId,
      antique_id antiqueId,
      museum_id museumId,
      topic_id topicId
    FROM favourite
    WHERE seq_no = #{seqNo}
  </select>

  <insert id="insert" parameterType="edu.nwu.museum.backstage.domain.Favourite">
    INSERT INTO favourite(
    seq_no,
    user_id,
    antique_id,
    museum_id,
    topic_id
    ) VALUES (
    #{seqNo},
    #{userId},
    #{antiqueId},
    #{museumId},
    #{topicId}
    )
  </insert>

  <update id="update" parameterType="edu.nwu.museum.backstage.domain.Favourite">
    UPDATE favourite
    SET seq_no = #{seqNo},
        user_id = #{userId},
        antique_id = #{antiqueId},
        museum_id = #{museumId},
        topic_id = #{topicId}
    WHERE seq_no = #{seqNo}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from favourite where seq_no = #{seqNo}
  </delete>

</mapper>